*
!clf-add-domains_v2.py
!clf-delete-ALL-zones.py
!clf-verify-retarget-ns.py
!clf_add_dns_v2.py
!get_ipv6.py
!get_TLSA.py
!get-TLSA.sh
!getdkim.py
!INSTALL
!mailcow_deldomainsv2.py
!mailcowadd_domain.py
!mailcowadd_mailbox.py
!mailcowdelete_mailbox.py
!mailcows.json.EXAMPLE
!main.py
!README.md
!regru_changeDNS.py
!split_domains_by_servers.py
!dell-all.sh
!clf-dele-ALL-zones.py
!clf_add_domains_v2.py


